<div class="container-form">
    <img
    class="img-logo"
    src="../../../../../assets/img/multistock-logo.png"
    alt="MDN"
    />
    <form [formGroup]="formularioLogin" (submit)="onSubmit()" class="formulario-login">

        <div class="formulario-labels">
            <mat-form-field class="example-full-width">
                <mat-label>Razón social</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="description"
                    required
                />
                @if (formularioLogin.get('Nombre')?.invalid) {
                <mat-error>Por favor ingresa una razón social valida</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Dirección</mat-label>
                <input
                    type="text"
                    matInput
                />
                @if (formularioLogin.get('Dirección')?.invalid) {
                }
            </mat-form-field>


            <mat-form-field class="example-full-width">

                <mat-label>Número de Teléfono</mat-label>
                <input
                    type="number"
                    matInput
                    required
                />
                @if (formularioLogin.get('Numero')?.invalid) {
                <mat-error>Por favor ingresa un número de telefono válido</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Fecha de Fundación</mat-label>
                <input
                    type="text"
                    matInput
                    required
                />
                @if (formularioLogin.get('fundacion')?.invalid) {
                <mat-error>Por favor ingresa una Fecha de Fundación válida</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Nit Registrado</mat-label>
                <input
                    type="text"
                    matInput
                    required
                />
                @if (formularioLogin.get('Nit')?.invalid) {
                <mat-error>Por favor ingresa un Nit válido</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Nombre Ceo</mat-label>
                <input
                    type="text"
                    matInput
                />
                @if (formularioLogin.get('Ceo')?.invalid) {
                    <mat-error>Por favor ingresa una nota</mat-error>
                }
            </mat-form-field>
        </div>



        <input class="btn" type="submit" value="Crear" />
    </form>
</div>


