.container-form{
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-labels{}

.img-logo{
    padding: 5rem;
    width: 400px;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    display: block;
    width: 200px;
    height: 3.5rem;
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #4c85ff;
    outline-color: #e70000;
}

.example-full-width{
    width: 300px;
}
input[type="submit"] {
    background-color: #23233b;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
}
input[type="submit"]:hover {
    background-color: #050506;
}
.btn {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    width: 800px;
    font-style: normal;
}

